<ion-view view-title="GameView">
  <ion-content ng-controller="GameCtrl">
    <div class="padding">
      <h1 align="center" ng-init="getGameData()">"{{currentGame.title}}"</h1>

      <!-- Camera/Upload View and Re -->
      <div class="ifPending" >
        <h3 align="center"> Your Submission </h3>
        <image class="userSubmission" ng-src="http://10.8.16.232:8000/media/square-500px/{{userSubmission.filename}}"/>
      </div>

    </div>
    
    <div class="ifCompleted" ng-if="!!{{rootScope.currentGame.winner_id}}">
      <p ng-if="{{currentGame.winner}}&&{{currentGame.winner}} !== {{userSubmission}}"></p>
      <h3> Winner! </h3>
      <br/>
      <image class="winningPhoto" ng-src="http://10.8.16.232:8000/media/square-500px/{{currentGame.winner.filename}}"/>
      <br/>
      <h4> Other Submissions </h4>
      <span class="submission" ng-repeat="photo in photos" ng-click="selectPhoto()"></span>
    </div>

  </ion-content>
</ion-view>
