<ion-view view-title="Create">
  <ion-content>

    <div class="item item-divider" ng-init="getAllPublicGames()">
      Pick & Play
  </div>
    <ion-list>
      <ion-item ng-repeat="game in publicGames.not_submitted" type="item-text-wrap" ng-click="saveGameToRootScope(game)" href="#/tab/main/{{game.id}}">
        Prompt: {{game.title}}
        <br>
        Created by: {{game.user.email}}
      </ion-item>
    </ion-list>

    <div class="padding">
      <div class="button-bar">
        <a class="button button-positive" href="#/tab/create/view">Create New Game</a>
      </div>
    </div>

  </ion-content>
</ion-view>
