<ion-view view-title="Main">
  <ion-content>
   <!--CREATED GAMES-->
    <div class="item item-divider item-positive">
      Created Games
    </div>

    <ion-list>
      <ion-item ng-repeat="game in games" type="item-text-wrap"href="#/tab/main/{{game.id}}">
        Prompt: {{game.prompt}}
        <br> Created by: {{game.creator}}
      </ion-item>
    </ion-list>
    <!--PLAYING GAMES-->
    <div class="item item-divider item-balanced">
      Playing
    </div>
    <ion-list>
      <ion-item ng-repeat="game in games" type="item-text-wrap" href="#/tab/main/{{game.id}}">
        Prompt: {{game.prompt}}
        <br> Created by: {{game.creator}}
      </ion-item>
    </ion-list>
    <!--FINISHED-->
    <div class="item item-divider item-assertive">
      Finished
    </div>
    <ion-list>
      <ion-item ng-repeat="game in games" type="item-text-wrap" href="#/tab/main/{{game.id}}">
        Prompt: {{game.prompt}}
        <br> Created by: {{game.creator}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
