<ion-view view-title="Create">
  <ion-content>

  	<div class="button-bar">
  	  <a class="button button-positive">Create New Game</a>
	</div>
	
    <div class="item item-divider">
      Private Games
 	</div>
    <ion-list>
      <ion-item ng-repeat="game in games" type="item-text-wrap">
      	Prompt: {{game.prompt}}
      	<br>
      	Created by: {{game.creator}}
      </ion-item>
    </ion-list>
    <div class="item item-divider">
      Public Games
 	</div>
 	<ion-list>
      <ion-item ng-repeat="game in games" type="item-text-wrap">
      	Prompt: {{game.prompt}}
      	<br>
      	Created by: {{game.creator}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
