<ion-view view-title="Create">
  <ion-content>

    <div class="item item-divider" ng-init="getAllPublicGames()">
      Pick & Play
  </div>
    <ion-list>
      <ion-item ng-repeat="game in publicGames" type="item-text-wrap" ng-click ="saveGameToRootScope(game)" href="#/tab/main/{{game.id}}">
        Prompt: {{game.prompt}}
        <br>
        Created by: {{game.creator}}
      </ion-item>
    </ion-list>

    <div class="padding">
      <div class="button-bar">
        <a class="button button-positive" href="#/tab/create/view">Create New Game</a>
      </div>
    </div>

  </ion-content>
</ion-view>
