/* Empty. Add your own CSS if you like */
.upload-image {
  width: 100%;
  max-height: 300px;
}
.submittedPhoto {
  width: 48%;
  padding: 1px 0;
  margin-left:3px;
}
.selectedPhoto {
  width: 100%;
  max-height:  300px;
}